@charset "UTF-8";

#topNavbar {
    transition: margin-left .5s;
    top: 0;
    height: auto;
    z-index: 5;
    background-color: rgb(255, 255, 255);
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
}
    
.navbar .navbar-header,
.navbar .navbar-text {
    position: absolute;
}

.navbar .navbar-header {
    left: 0.625em;
}

.navbar .navbar-text {
    right: 0.625em;
}

#navbarTogglerMenu {
    justify-content: center;
}

#homeLink, #galleryLink, #aboutUsLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

#userNameRigth {
    padding: 0;
}

.topBarElement:hover {
    background-color: #CBCACA73;
}

.topBarElement:hover a span {
    color: dodgerblue;
}

.topBarElementActive {
    background-color: #CBCACA73;
    border-radius: 10px;
}

#sidebarTogglerBtn {
    margin-left: 0.313em;
    margin-right: 1.25em;
}

#userNameBtn {
    margin-right: 0.313em;
}

#loginBtn {
    padding: 0;
    margin-right: 0.313em;
}

#optionSidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 6.250em;
    transition: 0.3s;
    white-space: nowrap;
}

#optionSidebar a {
    text-decoration: none;
    padding: 8px 8px 8px 25px;
    font-size: 20px;
    display: block;
    transition: 0.3s;
    margin-right: 20px;
}

#optionSidebar i {
    margin-right: 20px;
}

#optionSidebar a:hover {
    text-decoration: none;
}

#optionSidebar .closebtn {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 70px;
}

#chatSidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    transition: 0.3s;
    white-space: nowrap;
}

@media (max-width: 767.98px) {
    .navbar .navbar-header,
    .navbar .navbar-text {
        position: static;
        display: inline-block;
        align-items: normal;
        left: auto;
        right: auto;
    }
    
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 0;
    }
    
    .topBarElement:hover {
        background-color: #CBCACA73;
        border-radius: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #navbarTogglerMenu ul li {
        margin-left: 0.063em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    
    #homeLink, #galleryLink, #aboutUsLink {
        display: flex;
        flex-direction: row;
        text-decoration: none;
    }
}
