@charset "UTF-8";

#topNavbar {
    transition: margin-left .5s;
    top: 0;
    z-index: 1030;
    height: 52px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#topNavbar .container-fluid {
    height: 100%;
    padding: 0;
    display: flex;
    align-items: stretch;
}

.navbar-brand {
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar .navbar-header {
    display: flex;
    align-items: center;
    flex: 1 0 0;
}

.navbar .navbar-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 0;
}

#navbarTogglerMenu {
    flex: 0 0 auto;
}

.navbar-nav {
    height: 100%;
}

.navbar-nav .nav-item {
    height: 100%;
    display: flex;
}


@media (max-width: 767.98px) {
    #topNavbar { height: auto; padding: 0.5rem; }
    .navbar-nav { height: auto; }
    .navbar-nav .nav-item { height: auto; }
}
