@charset "UTF-8";

@import "common.css";
@import "header.css";
@import "navbar.css";
@import "aside.css";
@import "content.css";
@import "footer.css";


/*@media screen and (max-height: 450px) {*/
    /*.sidebar {padding-top: 15px;}*/
    /*.sidebar a {font-size: 18px;}
}*/

/*---treeview---*/
/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}
/*---fin treeview---*/

.file_2 {
    visibility: hidden;
    position: absolute;
}

/*INICIO Checkbox personalizado*/
.checkbox-custom-1-label {
    font-size: 1.17em;
    vertical-align: -2px; /* Para centrar etiqueta y logo */
}

.checkbox-custom-1 {
    vertical-align: middle;
}

.checkbox-custom-1{
    position: relative;
    width: 50px; /*60px*/
    height: 25px; /*30px*/
    -webkit-appearance: none;
    background: rgb(168, 168, 168);
    outline: none;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.5);
    border: 1px;
    vertical-align: middle;
}

.checkbox-custom-1:checked[type="checkbox"]{
    background: rgb(0, 123, 255);
}

.checkbox-custom-1[type="checkbox"]:before{
    content: "";
    position: absolute;
    width: 25px; /*30px*/
    height: 25px; /*30px*/
    border-radius: 50%;
    top: 0;
    left: 0;
    background: white;
    transition: 0.5s;
    -webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
    box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
    /*border:2px solid rgba(0,0,0,0.2);*/  
}

.checkbox-custom-1:checked[type="checkbox"]:before{
    left: 25px; /*30px*/
}

/*.checkbox-custom-1, input[type="checkbox"]{
    position: relative;
    width: 50px; 
    height: 25px;
    -webkit-appearance: none;
    background: rgb(168, 168, 168);
    outline: none;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.5);
    border: 1px;
}

.checkbox-custom-1, input:checked[type="checkbox"]{
    background: rgb(0, 123, 255);
}

.checkbox-custom-1, input[type="checkbox"]:before{
    content: "";
    position: absolute;
    width: 25px; 
    height: 25px; 
    border-radius: 50%;
    top: 0;
    left: 0;
    background: white;
    transition: 0.5s;
    -webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
    box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
}

.checkbox-custom-1, input:checked[type="checkbox"]:before{
    left: 25px; 
}*/  

/*FIN Checkbox personalizado*/
