@charset "UTF-8";

body {
    /*background-image: linear-gradient(
        rgba(189, 189, 189, 0.2),
        rgba(189, 189, 189, 0.5)
    ), url('../images/stripes-light.png');*/
    
    background-image: linear-gradient(
        rgba(218, 224, 230, 1),
        rgba(218, 224, 230, 1)
    );
    
    transition: background-color .5s;
    width: 100%;
    height: 100%;
}

#main {
    margin-top: 5.5em; /*69px. margenes arriba y abajo de 20 px*/
    margin-bottom: 1.25em; /*20px*/
    /*min-height: calc(95.5vh - 81px - 378px);*/
    transition: margin-left .5s;
    padding-left: 0.6250em; /*10px*/
    padding-right: 0.6250em;
    margin-left: 0;
}

#topNavbar { /*Su altura suele ser 81px*/
    transition: margin-left .5s;
    top: 0;
    height: auto;
    z-index: 5;
    background-color: rgb(255, 255, 255);
}

#sidebarTogglerBtn {
    margin-left: 0.313em;
    margin-right: 1.25em;
}

/*#chatBtnToggler {
    margin-right: 1.25em;
}*/

#userNameBtn {
    margin-right: 0.313em;
}

#loginBtn {
    padding: 0;
    margin-right: 0.313em;
}

footer {
    background-color: rgb(255, 255, 255);    
}

#footerContainer {  
    transition: margin-left .5s;
    padding: 0.938em; /*15px*/
    width: 100%;
    height: auto; /*Suele ser 378px*/
}

th, td { 
    white-space: nowrap; 
}
div.dataTables_wrapper {
    margin: 0 auto;
}

#optionSidebar {
    height: 100%; /* 100% Full-height */
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden; 
    padding-top: 6.250em;
    transition: 0.3s;
    white-space: nowrap;
}

#optionSidebar a {
    text-decoration: none;
    padding: 8px 8px 8px 25px; /*32px*/
    font-size: 20px;
    display: block;
    transition: 0.3s;
    margin-right: 20px;
}

#optionSidebar i {
    margin-right: 20px;
}

/* When you mouse over the navigation links, change their color */
#optionSidebar a:hover {
    text-decoration: none;
}

/* Position and style the close button (top right corner) */
#optionSidebar .closebtn {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 70px;
}

#chatSidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    transition: 0.3s;
    white-space: nowrap;
}

.icon-text {
    vertical-align: middle;
}

.titlePostLink {
    text-decoration: none;
    color: black;
}

.titlePostLink:hover {
    text-decoration: none;
    color: gray;
}

#keepReading {
    text-decoration: none;
    color: black;
}

#keepReading:hover {
    text-decoration: none;
    color: gray;
}

#personalPageCard {
    border-radius: 15px;
}

#aboutMe-tab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#content-tab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#images-tab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#contacts-tab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#createPostCard {
    border-radius: 15px;
}

#contactPageCard {
    border-radius: 15px;
}

#createUserCard {
    border-radius: 15px;
}

#loginCard {
    border-radius: 15px;
}

#postCard {
    border-radius: 15px;
    display: block;
}

#postCard img{
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    position: relative;
    object-fit: scale-down;
}

/*------CAROUSEL---------------*/
.carousel-inner img {
    max-height: 26.25em;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

#carouselIndicators {
    /*border-radius: 1.063em;*/
    margin-bottom: 20px;
    border-radius: 10px;
}

#photoCarousel {
    /*border-radius: 1.063em;*/
    border-radius: 10px;
}
/*------FIN CAROUSEL-----------*/
#searchBarHome {
    border-radius: 10px;
}

#postListHomeCard {
    border-radius: 15px;
}

#calendarHomeCard {
    border-radius: 15px;
    margin-bottom: 30px;
}

#weekListHomeCard {
    border-radius: 15px;
    margin-bottom: 30px;
}

#twitterTimelineHomeCard {
    border-radius: 15px;
}

#postListCard {
    border-radius: 15px;
}

#usersCard {
    border-radius: 15px;
}

#postsCard {
    border-radius: 15px;
}

#rolesCard {
    border-radius: 15px;
}

#galleryCard {
    border-radius: 15px;
}

#jumbo {
    /*border-radius: 17px;*/
    border-radius: 10px;
}

/*.fc-view-container {
  width: auto;
}

.fc-view-container .fc-view {
  overflow-x: scroll;
}

.fc-view-container .fc-view > table {
    width: 500px;
}*/

@media (max-width: 768px) { /*991px*/
    #main {
        /*margin-top: 6.25em; /*101px*/
        margin-top: 84px;
        /*margin-bottom: 1.25em;*/
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    
    #navbarTogglerMenu ul li {
        margin-left: 0.063em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    
    #sidebarTogglerBtn {
        margin-left: 0.5em;
    }
    
    #optionSidebar {
        top:0;
        z-index: 4;
        width: 0;
        height: 100%;
        position: fixed;
        transition: 0.3s;
    }
    
    #chatSidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 5;
        top: 0;
        background-color: rgb(255, 255, 255);
        overflow: auto;
        transition: 0.3s;
        white-space: nowrap;
    }
    
    #postCard .card-body {
        padding: 0.313em;
    }

    #postCard .card-header {
        padding: 0.313em;
    }
    
    #postListCard .card-body {
        padding: 0.313em;
    }
    
    #postListCard .card-header {
        padding-left: 0.313em;
        padding-right: 0.313em;
    }
    
    .navbar-nav > li > a {
        /*(80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 0; /*27px*/
    }

    #profileUsername {
        text-align: center;
    }
    
    .topBarElement:hover {
        /*border-bottom: 0.313em solid dodgerblue;*/
        background-color: #CBCACA73; /* color: #CBCACA, opacidad: #4D = 30% #*/
        border-radius: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
        
    #carouselIndicators {
        margin-bottom: 15px;
        border-radius: 10px;
    }
    
    #postListHomeCard {
        border-radius: 15px;
        margin-bottom: 15px;
    }
    
    #postListHomeCard .card-body {
        /*padding: 0.313em;*/
        padding-left: 0.313em;
        padding-right: 0.313em;
    }
    
    #postListHomeCard .card-header {
        padding: 0.313em;
    }

    #calendarHomeCard {
        border-radius: 15px;
        margin-bottom: 15px;
    }

    #weekListHomeCard {
        border-radius: 15px;
        margin-bottom: 15px;
    }

    #twitterTimelineHomeCard {
        border-radius: 15px;
    }
}

@media (max-width: 1024px) {

}

@media (max-width: 1200px) { /*ipad*/

}

@media screen and (max-height: 450px) {
    /*.sidebar {padding-top: 15px;}*/
    .sidebar a {font-size: 18px;}
}

#dropdownNotificationsBtn:hover {
    background-color: #CBCACA73; /* color: #CBCACA, opacidad: #4D = 30% #*/
    border-radius: 10px;
}

.topBarElement a span{
    font-weight: 500;
}

.topBarElement:hover {
    background-color: #CBCACA73; /* color: #CBCACA, opacidad: #4D = 30% #*/
    border-radius: 10px;
}

.topBarElement:hover a span{
    /*font-weight: 700; /* 700 */
    color: dodgerblue;
}

.topBarElementActive {
    background-color: #CBCACA73; /* color: #CBCACA, opacidad: #4D = 30% #*/
    border-radius: 10px;
}

.spanActive {
    font-weight: 600; /* 700 */
    color: dodgerblue;
}

/*-------BUTTON TOP--------*/
#scroll {
    position: fixed;
    right: 1.25em;
    bottom: 1.25em;
    cursor: pointer;
    width: 3.125em;
    height: 3.125em;
    background-color: #3498db;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 3.75em;
    -moz-border-radius: 3.75em;
    border-radius: 3.75em;
    z-index: 5; /* Posicionarse por encima */
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.5em;
    margin-top: -0.75em;
    height: 0;
    width: 0;
    border: 0.5em solid transparent;
    border-bottom-color: #ffffff;
}

#scroll:hover {
    background-color: #e74c3c;
    opacity: 1;filter:"alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}
/*-------FIN BUTTON TOP--------*/
/*-------BUTTON CHAT-----------*/
#chatButton {
    position: fixed;
    right: 1.25em;
    bottom: 1.25em;
    width: 3.125em;
    height: 3.125em;
    background-color: #25D366;
    border-radius: 3.75em;
    text-align: center;
    z-index: 3; /* Posicionarse por encima */
}
#chatButton #iconChat {
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -1em;
    margin-top: -1em;
    height: 0;
    width: 0;
}

#chatButton:hover {
    background-color: #128C7E;
    opacity: 1;filter:"alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}
/*-------FIN BUTTON CHAT-------*/
/*------CHAT-------------------*/
#window_chat {
    cursor: pointer; /*Para que el raton reaccione al estar encima*/
    width: auto;
    position: absolute;
    bottom: 0;
    top:0;
    /*right: 70px;*/
    z-index: 5;
    overflow: auto;
    /*display:block;*/
    border-top-left-radius: 0.625em; 
    border-top-right-radius: 0.625em;
}

.chatHistoryWindow {
    height: 420px;
    width: auto;
    border: 1px solid #ccc;
    background: #ECE5DD;
    resize: vertical;
    overflow: auto;
    padding: 10px;
    margin-bottom: 15px;
}

ul li.sent p {
    background: #DCF8C6;
    border-style: solid;
    border-width: 1px 1px;
    border-color: grey;
    color: black;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    /*Para que no se salga el texto del parrafo*/
    word-wrap: break-word;
    white-space: normal;
}

ul li.replies p {
    background: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px;
    border-color: grey;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 5px;
    margin-bottom: 5px;  
    /*Para que no se salga el texto del parrafo*/
    word-wrap: break-word;
    white-space: normal;
}

.unread {
    background:red;  
    position: relative;
    left: 5px;
    border-radius: 50%;
    display: inline-block;
    color:white;
    width: 20px;
    text-align:center;
}
/*------FIN CHAT---------------*/
/*------FULLCALENDAR-----------*/
.fc-view-container {
    width: auto;
    height: auto;
}

.fc-view-container .fc-view {
    overflow: auto;
}
/*------FIN FULLCALENDAR-------*/
.paginationCustom {
    display: -ms-flexbox;
    flex-wrap: wrap;
    display: flex;
    /*padding-left: 0;*/
    list-style: none;
    border-radius: 0.25rem;
}

.short{
    /*font-weight:bold;*/
    color:#FF0000;
}
.weak{
    /*font-weight:bold;*/
    color:orange;
}
.good{
    /*font-weight:bold;*/
    color:#2D98F3;
}
.strong{
    /*font-weight:bold;*/
    color: limegreen;
}

/*---treeview---*/
/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
/*.caret {
    cursor: pointer;
    user-select: none;
}*/

/* Create the caret/arrow with a unicode, and style it */
/*.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}*/

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
/*.caret-down::before {
    transform: rotate(90deg);
}*/

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}
/*---fin treeview---*/
.linkDisabled {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
    /*background-color: gray;
    color: gray;*/
}

.gmd {
    background: #fff;
    border-radius: 2px;
    display: block;
    float: left;
    height: 150px;
    margin: 1rem;
    position: relative;
    width: 150px;
}

.gmd-0 {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.gmd-1 {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.gmd-1:hover {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.gmd-2 {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.gmd-3 {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.gmd-4 {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.gmd-5 {
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


.project-tab {
    /*padding: 10%;
    margin-top: -8%;*/
}
/*.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}*/

.project-tab #profileTabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3.7px solid dodgerblue !important;
    font-weight: 600;
    color: dodgerblue;
    
}

.project-tab .nav-link.active {
    color: dodgerblue;
}

.project-tab .nav-link {
    border: none;
    font-weight: 600;
    color: grey;
}

.project-tab .nav-link:hover {
    border: none;
    font-weight: 600;
    color: dodgerblue;
    background-color: #CBCACA33; /* color: #CBCACA, opacidad: #33 = 20% #*/ 
}

#profileTabs .nav-link.active {
    color: dodgerblue;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.file_2 {
    visibility: hidden;
    position: absolute;
}

.hover-underline-menu {
  width: 100%;
}

.checkbox-custom-1-label {
    font-size: 1.17em;
    vertical-align: -2px; /* Para centrar etiqueta y logo */
}

.checkbox-custom-1 {
    vertical-align: middle;
}

.checkbox-custom-1{
    position: relative;
    width: 50px; /*60px*/
    height: 25px; /*30px*/
    -webkit-appearance: none;
    background: rgb(168, 168, 168);
    outline: none;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.5);
    border: 1px;
    vertical-align: middle;
}

.checkbox-custom-1:checked[type="checkbox"]{
    background: rgb(0, 123, 255);
}

.checkbox-custom-1[type="checkbox"]:before{
    content: "";
    position: absolute;
    width: 25px; /*30px*/
    height: 25px; /*30px*/
    border-radius: 50%;
    top: 0;
    left: 0;
    background: white;
    transition: 0.5s;
    -webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
    box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
    /*border:2px solid rgba(0,0,0,0.2);*/  
}

.checkbox-custom-1:checked[type="checkbox"]:before{
    left: 25px; /*30px*/
}

/*.checkbox-custom-1, input[type="checkbox"]{
    position: relative;
    width: 50px; 
    height: 25px;
    -webkit-appearance: none;
    background: rgb(168, 168, 168);
    outline: none;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.5);
    border: 1px;
}

.checkbox-custom-1, input:checked[type="checkbox"]{
    background: rgb(0, 123, 255);
}

.checkbox-custom-1, input[type="checkbox"]:before{
    content: "";
    position: absolute;
    width: 25px; 
    height: 25px; 
    border-radius: 50%;
    top: 0;
    left: 0;
    background: white;
    transition: 0.5s;
    -webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
    box-shadow: 3px 0 3px 0 rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
}

.checkbox-custom-1, input:checked[type="checkbox"]:before{
    left: 25px; 
}*/  

/*FIN Checkbox personalizado*/
